
  .card-order {
    width: 60%;
    margin-top: 48px;
    border-color: transparent;
  }

  .order-item-text {
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-color: transparent;
  }


  .bitem-send {
    width: 220px;
  }

  .zip-field {
    width: 180px;
  }
