<div class="container text-center main-container">

  <div class="mb-4 mb-4 display-6"><strong>Наши чайные коллекции</strong></div>
  <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-between">

    @for (item of products; track item.id) {

      <div class="col">
        <div class="card">
          <div class="product__image divimg-to-popup"><img class="card-img-bottom" src="{{item.image}}" alt="{{item.title}}">
          </div>
          <div class="card-title item-text"><h2>{{ item.title }}</h2></div>
          <div class="card-text item-text"><h6>{{item.description | strLeftNn }}</h6></div>

          <div class="row g-2 row-cols-2 justify-content-between">

            <div class="item-text text-center">
              <a class="btn btn-primary bitem-choice" routerLink="{{item.id}}">Подробнее</a>
            </div>
            <div class="item-text mb-3 text-center">
              <button class="btn btn-primary  bitem-choice"  (click)="to_order(item.id,item.title)">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
