.main-container {
  padding-top: 98px;
  padding-bottom: 98px;
  max-width: 800px;
  .tea_divimg {
    width: 550px;
    .card-image {
      width: 100%;
      object-fit: contain;
    }
  }
  .bitem-choice{
    width: 120px;
  }

}
