
.accordion-body {
  max-width: 800px;
  text-align: start;

  .chart_answer {
    font-size: medium;
  }
}

.main-to-popup {
  position: relative;

  .popup-overlay {
    position: absolute;
    top: -380px;
    left: 42%;
    font-size: 16px;
    color: #0d2052;
    width: 300px;
    text-align: center;
    border: 1px solid #C6C6C4;
    margin-top: 200px;
    padding-bottom: 18px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #9ccbde;
  }

  .is-visible {
    display: block;
  }
  .is-hide {
    display: none;
  }


  .popup-message {
    padding: 12px 16px 12px 16px;
  }

  .popup-message {
    padding-bottom: 12px;
  }
}

